In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.DataFrame(np.random.randn(5,3),index=['x','y','z','s','c'],columns=['x','y','z'])
print(df)

          x         y         z
x -1.159880  0.077609  0.352044
y -0.544448  1.070071 -0.842338
z  0.244613 -0.933491  1.091993
s  0.047249 -1.564516  1.996345
c  0.094621 -0.801471  0.799074

In [ ]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(5,3),index=['x','y','z','s','c'],columns=['x','y','z'])
df.head()

          x         y         z
x  0.293142 -1.411384 -0.110872
y -1.291953 -0.909105 -2.173157
z  0.982028  1.098305 -0.442360
s  0.771397  0.668965  1.392311
c  1.072226  0.297792 -0.769569

In [ ]:
df.reindex(['x','y','p','r','d','f','h'])

          x         y         z
x  0.293142 -1.411384 -0.110872
y -1.291953 -0.909105 -2.173157
p       NaN       NaN       NaN
r       NaN       NaN       NaN
d       NaN       NaN       NaN
f       NaN       NaN       NaN
h       NaN       NaN       NaN

In [ ]:
df.isnull

<bound method DataFrame.isnull of           x         y         z
x  0.293142 -1.411384 -0.110872
y -1.291953 -0.909105 -2.173157
z  0.982028  1.098305 -0.442360
s  0.771397  0.668965  1.392311
c  1.072226  0.297792 -0.769569>

In [ ]:
df.isnull().sum()

x    0
y    0
z    0
dtype: int64

In [ ]:
df.isnull().sum()/len(df)*100

x    0.0
y    0.0
z    0.0
dtype: float64

In [ ]:
df['x']=df['x']/df['x'].max()

In [ ]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(5,3),index=['x','y','z','s','c'],columns=['x','y','z'])
Q1=df.quantile(.25)
Q2=df.quantile(.75)
Q=Q1-Q2

In [ ]:
print(Q1)

x   -0.743426
y    0.713826
z   -0.678290
Name: 0.25, dtype: float64

In [ ]:
print(Q2)

x   -0.622430
y    1.360649
z    0.688248
Name: 0.75, dtype: float64

In [ ]:
print(Q)

x   -0.120996
y   -0.646824
z   -1.366538
dtype: float64

In [ ]:
print((df<Q-Q1))|((df>(Q2+Q)))

       x      y      z
x   True  False  False
y   True  False   True
z   True  False  False
s   True  False  False
c  False  False  False

TypeError: ignored

# New Section

# New Section